:root {
    --headerFooterColor: #1C2023; 
    --galleryColor: #2B3035;
    --primaryBlue: #0D6EFD;
}

header, footer {
    background-color: var(--headerFooterColor);
}

nav a.navbar-brand {
    font-family: "kallisto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}


h2 {
    text-align: center;
}

form {
    font-size:2rem;
    gap: 10px;
    justify-content: center;
}

#gallery {
    background-color: var(--galleryColor);
}

#hero {
    background-image: url('/images/hero-sky.jpg');
}

div#imgActions button {
    font-size:3rem;
    text-shadow: 2px 2px 4px #000000;
}

a#jump-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  max-width: 60px;
  width: 100%;
  font-size: 2.5rem;
  padding: 2px;
  text-align: center;
  color: white;
  background-color: var(--primaryBlue);
}

#displayImg {
    width: 100%;
    height: auto;
}

div#favourites-container {
    display: grid;
    gap: 20px;
}


div.card img.card-img-top {
    height: 225px;   
    width: auto;
    object-fit: cover;
}

p a:link {
    color:white;
}


p a:visited {
    color:white;
}

@media screen and (min-width: 576px) {
    div.card img.card-img-top {
        height:400px;
    }
}

@media screen and (min-width: 768px) {
    div#favourites-container {
        grid-template-columns: 1fr 1fr;
    }

    div.card img.card-img-top {
        height:400px;
    }

    .displayImgContainer {
        position: relative;
    }

    div#imgActions {
        position: absolute;
        right: 2%;
        top:0%;
    }
}